aiofiles
aiomysql
anyio
bcrypt
cffi
click
cryptography
ecdsa
fastapi
greenlet
h11
idna
passlib
psycopg2-binary
pyasn1
pycparser
pydantic
PyInputPlus
PyMySQL
python-decouple
python-jose
python-multipart
rsa
six
sniffio
SQLAlchemy
starlette < 0.24.0
typing_extensions
uvicorn
